In [1]:
import pandas as pd

In [5]:
df_annotations = pd.read_csv('data_load/annotations.csv')
df_annotations.head()

,Hospital.Admission.ID,subject.id,chart.time,cohort,Obesity,Non.Adherence,Developmental.Delay.Retardation,Advanced.Heart.Disease,Advanced.Lung.Disease,Schizophrenia.and.other.Psychiatric.Disorders,Alcohol.Abuse,Other.Substance.Abuse,Chronic.Pain.Fibromyalgia,Chronic.Neurological.Dystrophies,Advanced.Cancer,Depression,Dementia,Unsure
0,118003,3644,118003,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0
1,177830,97736,999999,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,185673,27694,999999,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,131938,16275,131938,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,198999,4059,198999,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0

In [6]:
df_notes = pd.read_csv('data_load/NOTEEVENTS.csv')

C:\Users\maldr\anaconda3\envs\cse6250-project\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df_notes.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...

In [9]:
df_notes.CATEGORY.unique()

array(['Discharge summary', 'Echo', 'ECG', 'Nursing', 'Physician ',
       'Rehab Services', 'Case Management ', 'Respiratory ', 'Nutrition',
       'General', 'Social Work', 'Pharmacy', 'Consult', 'Radiology',
       'Nursing/other'], dtype=object)

In [10]:
df_discharge = df_notes[df_notes.CATEGORY == 'Discharge summary']

In [26]:
df_new = pd.merge(df_annotations, df_notes, how='inner', left_on=['subject.id','Hospital.Admission.ID'], right_on=['SUBJECT_ID','HADM_ID'])

In [27]:
df_new.head()

,Hospital.Admission.ID,subject.id,chart.time,cohort,Obesity,Non.Adherence,Developmental.Delay.Retardation,Advanced.Heart.Disease,Advanced.Lung.Disease,Schizophrenia.and.other.Psychiatric.Disorders,...,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,118003,3644,118003,1,0,0,0,0,0,0,...,3644,118003.0,2200-04-10,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2200-4-7**] Discharge ...
1,118003,3644,118003,1,0,0,0,0,0,0,...,3644,118003.0,2200-04-07,NaN,NaN,ECG,Report,NaN,NaN,Tracing is of improved quality. Sinus tachycar...
2,118003,3644,118003,1,0,0,0,0,0,0,...,3644,118003.0,2200-04-07,NaN,NaN,ECG,Report,NaN,NaN,Technically difficult study. P waves are atypi...
3,118003,3644,118003,1,0,0,0,0,0,0,...,3644,118003.0,2200-04-09,NaN,NaN,ECG,Report,NaN,NaN,Sinus rhythm. Compared to the previous tracing...
4,118003,3644,118003,1,0,0,0,0,0,0,...,3644,118003.0,2200-04-08,NaN,NaN,ECG,Report,NaN,NaN,Sinus rhythm. Since the previous tracing of [*...

In [28]:
# Sanity check on the join
df_new[df_new['Hospital.Admission.ID'] != df_new['HADM_ID']]

Empty DataFrame
Columns: [Hospital.Admission.ID, subject.id, chart.time, cohort, Obesity, Non.Adherence, Developmental.Delay.Retardation, Advanced.Heart.Disease, Advanced.Lung.Disease, Schizophrenia.and.other.Psychiatric.Disorders, Alcohol.Abuse, Other.Substance.Abuse, Chronic.Pain.Fibromyalgia, Chronic.Neurological.Dystrophies, Advanced.Cancer, Depression, Dementia, Unsure, ROW_ID, SUBJECT_ID, HADM_ID, CHARTDATE, CHARTTIME, STORETIME, CATEGORY, DESCRIPTION, CGID, ISERROR, TEXT]
Index: []

[0 rows x 29 columns]

In [29]:
# Sanity check on the join
df_new[df_new['subject.id'] != df_new['SUBJECT_ID']]

Empty DataFrame
Columns: [Hospital.Admission.ID, subject.id, chart.time, cohort, Obesity, Non.Adherence, Developmental.Delay.Retardation, Advanced.Heart.Disease, Advanced.Lung.Disease, Schizophrenia.and.other.Psychiatric.Disorders, Alcohol.Abuse, Other.Substance.Abuse, Chronic.Pain.Fibromyalgia, Chronic.Neurological.Dystrophies, Advanced.Cancer, Depression, Dementia, Unsure, ROW_ID, SUBJECT_ID, HADM_ID, CHARTDATE, CHARTTIME, STORETIME, CATEGORY, DESCRIPTION, CGID, ISERROR, TEXT]
Index: []

[0 rows x 29 columns]

In [34]:
df_new = df_new.drop(['Hospital.Admission.ID','subject.id'], axis=1)

In [36]:
df_new.head()

,chart.time,cohort,Obesity,Non.Adherence,Developmental.Delay.Retardation,Advanced.Heart.Disease,Advanced.Lung.Disease,Schizophrenia.and.other.Psychiatric.Disorders,Alcohol.Abuse,Other.Substance.Abuse,...,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,118003,1,0,0,0,0,0,0,0,0,...,3644,118003.0,2200-04-10,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2200-4-7**] Discharge ...
1,118003,1,0,0,0,0,0,0,0,0,...,3644,118003.0,2200-04-07,NaN,NaN,ECG,Report,NaN,NaN,Tracing is of improved quality. Sinus tachycar...
2,118003,1,0,0,0,0,0,0,0,0,...,3644,118003.0,2200-04-07,NaN,NaN,ECG,Report,NaN,NaN,Technically difficult study. P waves are atypi...
3,118003,1,0,0,0,0,0,0,0,0,...,3644,118003.0,2200-04-09,NaN,NaN,ECG,Report,NaN,NaN,Sinus rhythm. Compared to the previous tracing...
4,118003,1,0,0,0,0,0,0,0,0,...,3644,118003.0,2200-04-08,NaN,NaN,ECG,Report,NaN,NaN,Sinus rhythm. Since the previous tracing of [*...

In [44]:
df_new.to_csv('data_load/annotated_discharge.csv', index=False)

In [45]:
df2 = pd.read_csv('data_load/annotated_discharge.csv')

In [46]:
df2.head()

,chart.time,cohort,Obesity,Non.Adherence,Developmental.Delay.Retardation,Advanced.Heart.Disease,Advanced.Lung.Disease,Schizophrenia.and.other.Psychiatric.Disorders,Alcohol.Abuse,Other.Substance.Abuse,...,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,118003,1,0,0,0,0,0,0,0,0,...,3644,118003.0,2200-04-10,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2200-4-7**] Discharge ...
1,118003,1,0,0,0,0,0,0,0,0,...,3644,118003.0,2200-04-07,NaN,NaN,ECG,Report,NaN,NaN,Tracing is of improved quality. Sinus tachycar...
2,118003,1,0,0,0,0,0,0,0,0,...,3644,118003.0,2200-04-07,NaN,NaN,ECG,Report,NaN,NaN,Technically difficult study. P waves are atypi...
3,118003,1,0,0,0,0,0,0,0,0,...,3644,118003.0,2200-04-09,NaN,NaN,ECG,Report,NaN,NaN,Sinus rhythm. Compared to the previous tracing...
4,118003,1,0,0,0,0,0,0,0,0,...,3644,118003.0,2200-04-08,NaN,NaN,ECG,Report,NaN,NaN,Sinus rhythm. Since the previous tracing of [*...